<h3 class="masthead-brand" ng-class="{}">
  <a href="#/">
    <img class="logo" src="images/zeta.png">
  </a>
  <!--<a class="al-logo clearfix" href="#/">
    <span class="al-span1"><img alt="" src="images/top_logo_left.png"></span>
    <span class="al-span2"><img alt="" src="images/top_logo_right.png"></span>
  </a>-->
</h3>
<ul class="nav masthead-nav" style="margin:0;" bs-nav>
  <li><a href="#">{{currentUser}}</a></li>
  <li><a ng-href="login.html"><i class="fa fa-sign-out"></i></a></li>
</ul>