<div style="padding-top:2px;" class="col-sm-12 col-md-12">
    <div class="input-group col-sm-4 col-md-4 " style="float:left"
         ng-class="{'has-error':add_form['filter[{{$index}}].field'].$invalid&&(add_form['filter[{{$index}}].field'].$dirty||add_form.$submitted)}"
    ><span class="input-group-addon">字段</span>
        <input class="form-control ui-autocomplete" ng-model="filter.field" placeholder="字段名称"
               uib-typeahead="state for state in previewFields | filter:$viewValue | limitTo:8"

               name="filter[{{$index}}].field" required>
    </div>
    <div class="input-group col-sm-4 col-md-4 " style="float:left"
         ng-class="{'has-error':add_form['filter[{{$index}}].ref'].$invalid&&(add_form['filter[{{$index}}].ref'].$dirty||add_form.$submitted)}">
        <span class="input-group-addon">解析规则</span>
        <select class="form-control" ng-model="filter.ref"
                name="filter[{{$index}}].ref" required>
            <option value="{{x.id}}" ng-repeat="x in all" ng-hide="x.id==rule.id">
                {{x.name}}
            </option>
        </select>
    </div>
</div>

