<label for="script_id" class="col-sm-2 col-md-2 control-label">解析脚本(javascript)</label>
<div class="col-sm-10 col-md-10">
    <div id="script_id" ui-ace="{
                           require: ['ace/ext/language_tools','ace/ext/themelist'],
                          advanced: {
                              enableSnippets: true,
                              enableBasicAutocompletion: true,
                              enableLiveAutocompletion: true
                          },
                          useWrapMode : true,
                          showGutter: false,
                          theme:'solarized_light',
                          mode: 'javascript',
                          firstLineNumber: 5,
                          onLoad: aceLoaded,
                          onChange: aceChanged
                }" name="sqlQueryStr" ng-model="case.rule.script"></div>
    <span><em>说明:</em>内置数据对象event Map类型；可以put(key,value),remove(key),get(key);处理完成的数据都放到event即可！</span>
</div>
</div>