<div class="hla-widget-add-table">
    <div ng-show="(add_form.$invalid||(rule.parser.fields && rule.parser.fields.length==0))&&add_form.$submitted"
         class="col-sm-12 col-md-12 alert alert-danger" role="alert">
        表单填写有误，请检查表单！
        <div ng-hide="true">
            {{$parent.add_form=add_form}}
        </div>
    </div>
    <form class="form-horizontal" name="add_form"
          ng-submit="saveRule(add_form)" novalidate>
        <div class="form-group container" ng-if="datas">
            <label class="col-sm-2 col-md-2 control-label">数据集合</label>

            <div class="col-sm-8 col-md-8 pre-scrollable  table-responsive raw " style="overflow-x:auto">
                <table class=" text-nowrap table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th ng-repeat=" (key,value) in datas[0]">
                            {{key}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in datas">
                        <td scope="row">{{$index+1}}</td>
                        <td ng-repeat="(key,value) in x">{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="form-group" ng-if="datas">
            备注:在过滤规则中可以使用原始数据[c@raw],路径[c@path],采集器[c@collector]等字段,详细信息请查看文档
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 col-md-2 control-label"><em
                    class="hla-required-input">*</em>名称</label>
            <div class="col-sm-8 col-md-8"
                 ng-class="{'has-error':add_form.name.$invalid&&(add_form.name.$dirty||add_form.$submitted)}">
                <input id="name" type="text" ng-model="rule.name" class="form-control" name="name"
                       placeholder="解析规则名称" required>
            </div>
        </div>
        <div class="form-group">
            <label for="datasource" class="col-sm-2 col-md-2 control-label">参考数据源</label>
            <div class="col-sm-3 col-md-3">

                <select id="datasource" name="datasource" class="form-control op_log_collector_list"
                        ng-options="x.id as x.name for x in datasources"
                        ng-model="rule.datasource" ng-change="dsPreview()">
                </select>
            </div>
            <label for="parser_name" class="col-sm-2 col-md-2 control-label"><em
                    class="hla-required-input">*</em>解析类型</label>
            <div class="col-sm-3 col-md-3">
                <select id="parser_name" ng-model="rule.parser.name" class="form-control" name="parser[name]">
                    <option value="nothing">不解析</option>
                    <option value="cef">CEF</option>
                    <option value="delimit">分隔符</option>
                    <option value="delimitWithKeyMap">键值对</option>
                    <option value="xml">XML</option>
                    <option value="json">JSON</option>
                    <option value="regex">正则</option>
                    <option value="transfer">传输</option>
                    <!--  <option value="多选一">多选一</option>
                      <option value="链式">链式</option>-->
                </select>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
        <div id="parser_content">
            <div ng-switch="rule.parser.name">
                <div id="nothing" ng-switch-when="nothing">
                </div>
                <div id="cef" ng-switch-when="cef">
                </div>
                <div id="delimit" ng-switch-when="delimit">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">
                            <em class="hla-required-input">*</em>分隔符</label>
                        <div class="col-sm-8 col-md-8"
                             ng-class="{'has-error':add_form['rule[parser][delimit]'].$invalid&&(add_form['rule[parser][delimit]'].$dirty||add_form.$submitted)}">
                            <input type="text" class="required form-control" name="rule[parser][delimit]"
                                   ng-model="rule.parser.delimit"
                                   placeholder="特殊值说明:\s->空格,\n->换行,\t ->tab" required>
                        </div>
                    </div>
                    <div class="form-group" id="parser">
                        <label class="col-sm-2 col-md-2 control-label"><em class="hla-required-input">*</em>字段列表</label>
                        <div style='display: inline;padding-top:3px;' class='col-sm-8 col-md-8 control-box'
                             ng-class="{'has-error':add_form['rule[parser][fields]'].$invalid&&(add_form['rule[parser][fields]'].$dirty||add_form.$submitted)}">
                            <textarea placeholder="字段名称" class="form-control" name="rule[parser][fields]"
                                      ng-model="rule.parser.fields" required></textarea>
                            <!--<div ng-repeat="field in rule.parser.fields track by $index">
                                <div class="input-group col-sm-3 col-md-3"
                                     ng-class="{'has-error':add_form['rule[parser][fields[$index]'].$invalid&&(add_form['rule[parser][fields[$index]'].$dirty||add_form.$submitted)}"
                                     style="float:left;padding-right: 2px;padding-top: 2px;">
                                    <input placeholder="字段名称" class="form-control" name="rule[parser][fields[$index]"
                                           ng-model="rule.parser.fields[$index]" required>
                                    <span
                                            class="input-group-addon btn btn-sm"
                                            ng-click="removeDelimitField($index)"><i
                                            class="fa fa-remove"></i></span>
                                </div>
                            -->

                            <label class='col-sm-3 col-md-3' ng-if="!rule.parser.fields || rule.parser.fields.length==0"
                                   style='padding-right: 2px;padding-top: 3px;padding-left: 0px;'>
                                <span class='btn btn-primary btn-sm bg-success' title='添加内容'
                                      ng-click="addDelimitField()"><i class='fa fa-plus'></i>
                        </span>
                                <span class="checkbox-inline text-danger"
                                      ng-show="rule.parser.fields || rule.parser.fields.length==0">至少配置一个字段！</span>
                            </label>

                        </div>

                    </div>
                </div>
                <div id="delimitWithKeyMap" ng-switch-when="delimitWithKeyMap">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label"><em
                                class="hla-required-input">*</em>字段分隔符</label>

                        <div class="col-sm-3 col-md-3"
                             ng-class="{'has-error':add_form['rule[parser][delimit]'].$invalid&&(add_form['rule[parser][delimit]'].$dirty||add_form.$submitted)}">
                            <input type="text" class="required form-control" name="rule[parser][delimit]"
                                   ng-model="rule.parser.delimit"
                                   placeholder="特殊值说明:\s->空格,\n->换行,\t ->tab" required>
                        </div>
                        <label class="col-sm-2 col-md-2 control-label"><em
                                class="hla-required-input">*</em>键值分隔符</label>
                        <div class="col-sm-3 col-md-3"
                             ng-class="{'has-error':add_form['rule[parser][tab]'].$invalid&&(add_form['rule[parser][tab]'].$dirty||add_form.$submitted)}">
                            <input type="text" class="required form-control" name="rule[parser][tab]"
                                   ng-model="rule.parser.tab"
                                   placeholder="特殊值说明:\s->空格,\n->换行,\t ->tab" required>
                        </div>
                        <div class="col-sm-2 col-md-2">

                        </div>
                    </div>
                </div>
                <div id="xml" ng-switch-when="xml">
                </div>
                <div id="json" ng-switch-when="json">
                </div>
                <div id="regex" ng-switch-when="regex">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label"><em
                                class="hla-required-input">*</em>GROK表达式</label>
                        <div class="col-sm-8 col-md-8"
                             ng-class="{'has-error':add_form['rule[parser][value]'].$invalid&&(add_form['rule[parser][value]'].$dirty||add_form.$submitted)}">
                            <input type="text" class="form-control" name="rule[parser][value]"
                                   ng-model="rule.parser.value" required>
                        </div>
                    </div>
                </div>
                <div id="transfer" ng-switch-when="transfer">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">数据过滤</label>

            <div class="col-sm-8 col-md-8 ">
                <div class="clearfix firstForm shadow" ng-repeat=" filter in rule.parser.filter"
                     ng-init="filterIndex=$index" 0>
                    <div class="col-sm-3 col-md-3 input-group " style="margin-bottom:10px;">
                        <label class="input-group-addon">规则 ${{$index}}</label>
                        <select ng-model="filter.name" class="form-control " ng-change="ruleChange($index)">
                            <option value="addFields">添加字段</option>
                            <option value="removeFields">删除字段</option>
                            <option value="mapping">字段重命名</option>
                            <option value="merger">合并字段</option>
                            <option value="fieldCut">字段裁剪</option>
                            <option value="redirect">数据重定向</option>
                            <option value="script">脚本解析</option>
                            <option value="startWith">匹配字段头</option>
                            <option value="endWith">匹配字段尾</option>
                            <option value="match">正则匹配</option>
                            <option value="contain">包含</option>
                            <option value="scriptFilter">脚本过滤</option>
                            <option value="byKnowledge">知识库补充</option>
                            <option value="reParser">字段再解析</option>
                        </select>
                        <label class="input-group-addon btn  info" title="删除规则" ng-click="removeFilter($index)"><i
                                class="fa fa-trash "></i></label>
                    </div>
                    <div ng-switch="filter.name">
                        <div style="padding-top:2px;padding-left: 0px;" class="col-sm-12 col-md-12"
                             data-original-title="" title="" ng-switch-when="byKnowledge"
                             ng-class="{'has-error has-feedback':(add_form['filter[{{$parent.$index}}].id'].$invalid&&(add_form['filter[{{$parent.$index}}]id'].$dirty||add_form.$submitted))}"
                        >
                            <label class="col-sm-2 col-md-2 control-label">知识库:</label>
                            <div class="col-sm-4 col-md-4">
                                <select class="form-control" ng-model="filter.id"
                                        name="filter[{{$index}}].id" required>
                                    <option value="{{x.id}}" ng-repeat="x in knowledges" ng-hide="x.id==rule.id">
                                        {{x.name}}
                                    </option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-md-2 control-label">
                                使用脚本:
                            </label>
                            <div class="col-sm-4 col-md-4">
                                <switch class="green" ng-model="filter.isScript" name="filter[isScript]" on="是"
                                        off="否"></switch>
                            </div>
                            <label class="col-sm-2 col-md-2 control-label">
                                <media ng-switch="filter.isScript">
                                    <media ng-switch-when="true">脚本内容:</media>
                                    <media ng-switch-default="">数据字段:</media>
                                </media>

                            </label>
                            <media ng-switch="filter.isScript">
                                <media ng-switch-when="true">
                                    <div class="col-sm-10 col-md-10">
                                        <div ui-ace="{ require: ['ace/ext/language_tools','ace/ext/themelist'],
                                                      advanced: {
                                                          enableSnippets: true,
                                                          enableBasicAutocompletion: true,
                                                          enableLiveAutocompletion: true
                                                      },
                                                      useWrapMode : true,
                                                      showGutter: false,
                                                      theme:'solarized_light',
                                                      mode: 'javascript',
                                                      firstLineNumber: 5,
                                                      onLoad: aceLoaded,
                                                      onChange: aceChanged
                                                      }" name="filter[{{$parent.$index}}].value"
                                             ng-model="filter.value"></div>
                                        <span><em>说明:</em>可以访问内置数据对象event:Map；可以put(key,value),remove(key),get(key);处理完成的数据都放到event即可,对于知识库有内置对象`cache`:List[Map]</span>
                                    </div>

                                </media>
                                <media ng-switch-default="">
                                    <div class="col-sm-4 col-md-4">
                                        <input class="form-control" ng-model="filter.value"
                                               name="filter[{{$parent.$index}}].value" placeholder="" required>
                                    </div>
                                    <label class="col-sm-2 col-md-2 control-label">
                                        知识库字段:
                                    </label>
                                    <div class="col-sm-4 col-md-4">
                                        <input class="form-control" ng-model="filter.column"
                                               name="filter[{{$parent.$index}}].column" placeholder="" required>
                                    </div>
                                </media>
                            </media>

                        </div>
                        <div style="padding-top:2px;padding-left: 0px" class="col-sm-12 col-md-12"
                             data-original-title="" ng-switch-when="script"
                             ng-class="{'has-error has-feedback':(add_form['filter[{{$parent.$index}}].script'].$invalid&&(add_form['filter[{{$parent.$index}}]script'].$dirty||add_form.$submitted))}"
                        >
                            <label for="script_id" class="col-sm-2 col-md-2 control-label">解析脚本(javascript)</label>
                            <div class="col-sm-10 col-md-10">
                                <div id="script_id" ui-ace="{ require: ['ace/ext/language_tools','ace/ext/themelist'],
                                                      advanced: {
                                                          enableSnippets: true,
                                                          enableBasicAutocompletion: true,
                                                          enableLiveAutocompletion: true
                                                      },
                                                      useWrapMode : true,
                                                      showGutter: false,
                                                      theme:'solarized_light',
                                                      mode: 'javascript',
                                                      firstLineNumber: 5,
                                                      onLoad: aceLoaded,
                                                      onChange: aceChanged
                                                      }" name="sqlQueryStr" ng-model="filter.script"></div>

                                <span><em>说明:</em>内置数据对象event Map类型；可以put(key,value),remove(key),get(key);处理完成的数据都放到event即可！</span>
                            </div>
                        </div>
                        <div style="padding-top:2px;padding-left: 0px;" class="col-sm-12 col-md-12"
                             data-original-title="" title="" ng-switch-when="addFields">
                            <div class="media" style="padding-left: 20px;"
                                 ng-include="'views/parser/filter-tuple.html'"></div>
                        </div>
                        <div style="padding-top:2px;padding-left: 20px;" class="col-sm-12 col-md-12"
                             ng-switch-when="removeFields">
                            <div class="input-group col-sm-3 col-md-3"
                                 style="float:left;padding-top: 2px; padding-right:2px;padding-left: 0px;"
                                 ng-class="{'has-error has-feedback':(add_form['filter[{{$parent.$index}}].fields[{{$index}}]'].$invalid&&(add_form['filter[{{$parent.$index}}].fields[{{$index}}]'].$dirty||add_form.$submitted))}"
                                 ng-repeat="field in filter.fields track by $index">
                                <input placeholder="要删除的字段名称" ng-model="filter.fields[$index]"
                                       class="form-control ui-autocomplete"
                                       name="filter[{{$parent.$index}}].fields[{{$index}}]"

                                       uib-typeahead="state for state in previewFields | filter:$viewValue | limitTo:8"
                                       required>
                                <span class="input-group-addon btn btn-danger" ng-disabled="filter.fields.length==1"
                                      ng-click="filter.fields.length==1||removeFilterOne($parent.$index,$index)"><i
                                        class="fa fa-minus"></i></span>
                            </div>
                            <label class="col-sm-1 col-md-1" style="padding-left: 0px;padding-top: 2px;"><span
                                    class=" btn btn-primary btn-sm bg-success" ng-click="addFilterOne($index)"
                                    title="添加内容">&nbsp;&nbsp;
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;</span></label>

                        </div>
                        <div style="padding-top:2px;padding-left: 20px;" class="col-sm-12 col-md-12"
                             data-original-title="" title="" ng-switch-when="mapping">
                            <div class="input-group col-sm-6 col-md-6"
                                 style="float:left;padding-top: 5px; padding-left:2px"
                                 ng-class="{'has-error':
                   (add_form['filter[{{$parent.$index}}].fields[{{$index}}].r[0]'].$invalid ||
                    add_form['filter[{{$parent.$index}}].fields[{{$index}}].r[0]'].$invalid)&&
                      (add_form['filter[{{$parent.$index}}].fields[{{$index}}].r[0]'].$dirty ||
                        add_form['filter[{{$parent.$index}}].fields[{{$index}}].r[1]'].$invalid||
                        add_form.$submitted)}"
                                 ng-repeat="field in filter.fields">
                                <input placeholder="原始字段" ng-model="field[0]"
                                       class="form-control ui-autocomplete"
                                       name="filter[{{$parent.$index}}].fields[{{$index}}].r[0]"

                                       uib-typeahead="state for state in previewFields | filter:$viewValue | limitTo:8"
                                       required>
                                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                <input placeholder="重命名后字段名称"
                                       name="filter[{{$parent.$index}}].fields[{{$index}}].r[1]"
                                       ng-model="field[1]" class="form-control"
                                       required>
                                <span class="input-group-addon btn btn-danger" ng-disabled="filter.fields.length==1"
                                      ng-click="filter.fields.length==1||removeFilterTuple($parent.$index,$index)"><i
                                        class="fa fa-minus"></i></span>
                            </div>
                            <label class="col-sm-1 col-md-1" style="padding-left: -2px;padding-top: 5px;"><span
                                    class=" btn btn-primary btn-sm bg-success" ng-click="addFilterTuple($index)"
                                    title="添加内容">&nbsp;&nbsp;
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;</span></label>
                        </div>
                        <div style="padding-top:2px;padding-left: 20px;" class="col-sm-12 col-md-12"
                             data-original-title="" title="" ng-switch-when="merger">
                            <div class="media" ng-include="'views/parser/filter-meger.html'"></div>

                        </div>

                        <div style="display: inline ;padding-top:5px;padding-left: 20px;"
                             class="col-sm-12 col-md-12 control-box" ng-switch-when="fieldCut">
                            <div class="media" ng-include="'views/parser/filter-fieldCut.html'"></div>
                        </div>
                        <div style="padding-top:2px;padding-left: 20px;padding-top: 5px;" class="col-sm-12 col-md-12"
                             ng-switch-when="scriptFilter">
                            <div class="" ng-include="'views/parser/switch-script.html'"></div>
                        </div>
                        <div style="padding-top:2px;padding-left: 20px;padding-top: 5px;" class="col-sm-12 col-md-12"
                             ng-switch-when="redirect">
                            <div class="" ng-include="'views/parser/case.html'"></div>
                        </div>
                        <div style="padding-top:2px;padding-left: 20px;;padding-top: 5px;" class="col-sm-12 col-md-12"
                             ng-switch-when="startWith">
                            <div class="media" ng-include="'views/parser/case.html'"></div>
                        </div>
                        <div style="padding-top:2px;padding-left: 20px;;padding-top: 5px;" class="col-sm-12 col-md-12"
                             ng-switch-when="endWith">
                            <div class="media" ng-include="'views/parser/case.html'"></div>
                        </div>
                        <div style="padding-top:2px;padding-left: 20px;;padding-top: 5px;" class="col-sm-12 col-md-12"
                             ng-switch-when="match">
                            <div class="media" ng-include="'views/parser/case.html'"></div>
                        </div>
                        <div style="padding-top:2px;padding-left:20px;;padding-top: 5px;" class="col-sm-12 col-md-12"
                             ng-switch-when="contain">
                            <div class="media" ng-include="'views/parser/case.html'"></div>
                        </div>
                        <div style="padding-top:2px;padding-left: 20px;" class="col-sm-12 col-md-12"
                             ng-switch-when="reParser">
                            <div class="media" ng-include="'views/parser/re-parser.html'"></div>
                        </div>

                    </div>
                </div>
                <span id="parser_filter_add_label" class="col-sm-10 col-md-10" style="padding-left:0px;">
                                <label class="control-label"
                                       style="padding-left: 0px;padding-bottom: 10px;">
                            <span class="btn btn-primary" id="filter_add" title="添加数据过滤规则"
                                  ng-click="addFilter();"><i
                                    class="fa fa-plus "></i>数据过滤规则</span>
                                </label>
                            </span>
            </div>
        </div>

        <div id="log_property_list" style="display: none;">
            <div id="properties">
                <label class="col-sm-2 col-md-2 control-label" style="margin-left: 12px;">字段及类型</label>
                <div class="form-group op_event_relate" ng-repeat="property in rule.properties track by $index">

                    <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
                        <div class="input-group"><span class="input-group-addon">字段名</span>
                            <input type="text" class="form-control" placeholder="字段"
                                   ng-model="property.key">
                            <span class="input-group-addon">类型</span>
                            <select class="form-control" ng-model="property.type" ng-change="changeType($index)">
                                <option value="datetime">日期时间</option>
                                <option value="object">对象</option>
                                <option value="integer">整型</option>
                                <option value="long">长整型</option>
                                <option value="double">浮点数</option>
                                <option value="string">文本</option>
                                <option value="ip">IP地址</option>
                                <option value="phone">手机号码</option>
                                <option value="idcard">身份证号</option>
                                <option value="list">数组</option>
                            </select>
                            <span class="input-group-addon" ng-if="property.type =='list'">数组项类型</span>
                            <select class="input-group-addon form-control" ng-model="property.subtype"
                                    ng-if="property.type =='list'">
                                <option value="datetime">日期时间</option>
                                <option value="object">对象</option>
                                <option value="integer">整型</option>
                                <option value="long">长整型</option>
                                <option value="double">浮点数</option>
                                <option value="string">文本</option>
                                <option value="ip">IP地址</option>
                                <option value="phone">手机号码</option>
                                <option value="idcard">身份证号</option>
                            </select>
                            <span class="input-group-addon"
                                  ng-if="property.type =='datetime' || property.subtype =='datetime' ">格式</span>
                            <input class="form-control"
                                   ng-if="property.type =='datetime' || property.subtype =='datetime' "
                                   ng-init="property.format=property.format?property.format:'yyyy-MM-dd HH:mm:ss'"
                                   ng-model="property.format">
                            <span class="input-group-addon mouse-on" title="删除" ng-click="deleteProperty($index)"><i
                                    class="fa fa-minus fa-fw op_minus op_delete_event_relate"></i> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-2 control-label" style="margin-left: 12px;"></label>

                <div class="col-sm-3 col-md-3">
                    <button ng-click="addProperty();" type="button" class="btn btn-success" title="添加字段属性"><i
                            class="fa fa-plus ">添加字段属性</i></button>
                </div>
            </div>

        </div>
        <div class="hla-widget-foot">
            <div class="text-center">
                <button ng-click="preview(add_form);" type="button" class="btn btn-success btn-sm" title="预览"><i
                        class="fa fa-chevron-down">测试预览</i></button>
                <button ng-click="resetPreview();" type="button" class="btn btn-warning btn-sm" title="重置"><i
                        class="fa fa-trash">重置</i></button>
                <button type="submit" class="btn btn-primary" id="op_save_log_rule_button">保存</button>
            </div>
        </div>
    </form>
</div>
