<div class="hla-widget-search-table">
  <form class="form-horizontal" id="op_search_log_rule_form">
    <div class="form-group">
      <label class="col-sm-2 col-md-2 control-label">解析规则名称</label>
      <div class="col-sm-3 col-md-3">
        <input type="text" class="form-control" ng-model="page.search.name" placeholder="解析规则名称">
      </div>

      <div class="col-sm-2 col-md-2">
        <button type="button" class="btn btn-primary" id="op_search_log_rule_button"
                ng-click="reload()">查询
        </button>
      </div>
    </div>
  </form>
</div>
